<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <title>Redigera artikel</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    
</head>
<body>
    <header>
        <header>
            <a href="/">
                <h1>Redigera artikel</h1>
            </a>    
        </header>
        
    </header>
    <main>
        
        <form action="/edit/{{ rubrik['id'] }}" method="post">
           
            <label for="rubrik">Rubrik:</label><br>
            <input type="text" id="rubrik" name="rubrik" value="{{ rubrik['rubrik'] }}"><br><br>
            
           
            <label for="fakta">Artikel:</label><br>
            <textarea id="fakta" name="fakta" rows="10" cols="50">{{ rubrik['fakta'] }}</textarea><br><br>
            
            
            <input type="submit" value="Spara ändringar">

        </form>
    </main>
</body>
</html>
