body{
    margin: 0 20%;
    color: black;
    
    
}
a{
    text-decoration: none;
    color: black;
}
header h1 {
    margin:auto;
    padding: 20px 0 20px 0;
    text-align: left;
    border-bottom: 2px black dotted;
}

aside, #btn{
    border: 2px solid green;
    border-radius: 15%;
    background-color: green;
    width: max-content;
    margin-top: 20px;
    overflow: hidden;   
    font-size: 10px;
    margin-bottom:5px ;
    
}




aside>a, aside>h2, #btn{
    color: aliceblue;
    margin: 0;
}
main a{
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 3px #999;
    padding-left: 10px;
}

#fakta_m{
    border-bottom: 2px black dotted;
}

#nytt{
    display: flex;
    flex-direction: column;
}

#btn{
    margin: 10px auto;
}